/*
 * @file
 * The all media queries are write  on this file.
 * CSS for  mobile ,tablet and Desktop.
 */

@media (max-width: 992px) {
/****** moblie ***/
  #main-menu {
    display: none;
  }
  .mean-bar {
    float: right;
    position: relative;
    background: transparent;
    height: 32px;
    z-index: 999999;
    display: block;
  }
  .meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 5px 0px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 3px;
    margin-top: 3px;
  }
  .mean-container .mean-nav {
    margin-top: 44px;
  }
  .mean-container .mean-nav ul {
    padding: 0;
    width: 100%;
    border-radius: 0 0 3px 3px;
    list-style-type: none;
  }
  #menu li {
    margin-left: 0px;
  }
  #menu li:hover {
    background: #009fda;
  }
  .mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
  }
  .mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  .column-3 {
    width: 100%;
  }
  .footer-col {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  #sidebar {
    width: 23%;
  }
  #sidebar_right
  {
    width:23%;
  }
  .with-right-sidebar {
    margin-right: 2%;
  }
  .one-column{
    width: 100%;
  }
  .two-column {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .mean-bar {
    display: none;
  }
  #main-menu {
    display: block;
  }
  #menu li a:hover {
    /*border-bottom: 2px solid #D4AF37;*/
  }
 /* #menu li a.active {
    border-bottom: 2px solid #D4AF37;
  }*/

  #menu li.active {
    border: 2px solid #D4AF37;
    border-radius: 19px;
    }
  .column-3 {
    width: 24%;
  }
  .footer-col {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  #sidebar,
  .two-column,#sidebar_right {
    width: 100%;
  }

}
