/*
 * @file
 * CSS for Whole Website and for all screen resolution.
 */


/******* header *******/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
  font-family: "Arial, Helvetica, sans-serif";
  margin: 0px;
}
h1, h2, h3 {
  margin: 10px 0;
}
#header,
#main-wrapper,
#footer,
#page-wrapper,
.item-list {
  width: 100%;
  float: left;
}
ul {
  margin-top: 0px;
}
#logo {
  float: left;
  position: absolute;
}
#logo img {
  width: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#navigation {
  padding: 15px 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #415FA2;
  background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* W3C */
  float: left;
  height: 69px;
}
nav {
  display: block;
}
#menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
}
#menu li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 2px;
  list-style-type: none;
}


/* Radial Out animation effects */
#menu li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-left: 9px;
  padding-right: 9px;
}
#menu li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8A761A;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#menu li:hover, #menu li:focus, #menu li:active {
  color: white;
}
#menu li:hover:before, #menu li:focus:before, #menu li:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* Radial Out */

#navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  margin-top: -5px;

}
#navigation a:hover,#navigation a.active{
  color:#ffffff;
   

}

#navigation > li > a {
-webkit-transition: rotate 2s; /* For Safari 3.1 to 6.0 */
    transition: rotate 2s;

}
#navigation > li > a:hover{
-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);

}

/**site name and slogan**/
.site-slogan-name {
  margin-bottom: 20px;
}
#site-name {
  margin: 0px;
}
/****************mobile ****/
.mean-nav {
  display: none;
}
.mean-close {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  padding: 0px 4px 0px 0px !important;
  margin-top: 2px;
}
.container .mean-nav ul {
  background-color: #191919;
}
/*** form *****/
.form-text {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px;
  text-indent: 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-submit:hover {
  cursor: pointer;
}

.form-submit {
  position: relative;
    display: inline-block;
    padding: 10px 18px;
    background-color: #8A761A;
    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.12);
    color: #ecf0f1;
    transition: background-color .29s;
    /*margin-top: 1em;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    border: 2px solid rgba(255, 255, 255, 0.9);
    overflow: hidden;
}
.form-submit:hover, .form-submit:focus {
  background-color: #D4AF37;
}

/*.form-submit> * {
  position: relative;
}*/
#edit-cancel {
  background-color: #8A761A;
  padding: 9px 16px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 13px;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid red;
}
.search-form .form-submit {
  margin-top: 1em;
      
}
#search-block-form .form-submit {
  margin-top: 1em;
      
}
/******* article ***/
.black {
  color: #000;
}
a {
  text-decoration: none;
}
.col-100 {
  width: 100%;
}
.float_left {
  float: left;
}
.float_right {
  float:right;
}
img {
  max-width: 100%;
  height: auto;
}
/**** pager ****/
.item-list .pager {
  width: 100%;
  float: left;
  padding: 15px 0px;
}
.item-list .pager .pager-current {
    background: #8A761A;
    color: #FFF;
    cursor: default;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
    padding: 2px 11px;
    border-radius: 21PX;
}
.item-list .pager li a {
  color: #999999;
}
.item-list .pager .pager-item:hover {
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  background: #e6e6e6;
  color: #999999;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding: 0px 5px;
}
.item-list .pager li {
  padding: 0 5px;
}
/***** footer ****/
#footer {
  font-size: .9em;
  border-top:4px solid #283344;
}
.section-full-colored,
.section-full-colored a {
  color: #fff;
}
.section-full-colored .section-content {  
  background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #dc2430 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #4b6cb7 10%, #dc2430 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #4b6cb7 10%, #dc2430 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #4b6cb7 10%, #dc2430 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #4b6cb7 10%, #dc2430 90%); /* W3C */
}
#footer .section-content {
  padding: 50px 0 20px 0;
  width: 100%;
}
.center {
  text-align: center;
}
.section.with-arrow:before {
  z-index: 11;
}
.section.with-arrow {
  position: relative;
  z-index: 10;
}

select {
  height: 34px;
  padding: 6px 0px;
  text-indent: 0px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.filter-wrapper {
  border: 1px solid #bbb;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  text-indent: 12px;
}
.calendar {
  height: 17px;
  width: 25px;
  background: url("../images/Calender.png");
  float: left;
  background-repeat: no-repeat;
  background-position: 1px 0px;
}
.paddingt {
  padding: 0px 0px 20px 0px;
}
.padding {
  padding: 20px;
}
.grayborder {
  border: 1px solid #d8d8d8;
}
.border_radius {
  border-radius: 5px;
}
.margin_bottom {
  margin-bottom: 20px;
}
.margint_none {
  margin-top: 0px;
}
.box_shadow {
  box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
}
#footer-columns {
  margin-bottom: 1em;
}
/***************** breadcrump ***/
.breadcrumb {
  padding-bottom: 0px;
}
a {
  color: #8A761A;
  font-weight: 800;
}
.breadcrumb a:first-child {
  background-image: url("../images/home.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  padding-left: 1.5em;
}
/***** tabs ***/
ul.primary li.active a {
  position: relative;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  border-color: #dcddde;
  margin-bottom: -1px;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
}
ul.primary li a {
  background-color: transparent;
  border-color: #dcddde;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
}
ul.primary {
  border-bottom: 1px solid #dcddde;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
/**** node ***/
ul.inline li {
  padding: 0 0.5em 0 0;
}
ul li.node-readmore {
  padding-right: 1.5em;
}
ul li.comment-add,
ul li.comment-delete,
ul li.comment-edit,
ul li.comment-reply,
ul li.comment-comments {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
ul li.comment-add {
  background: url("../images/comment.png");
  background-repeat: no-repeat;
  background-position: 1px 0px;
}
ul li.comment-delete {
  background: url("../images/delete.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-edit {
  background: url("../images/edit.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-reply {
  background: url("../images/reply.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-comments {
  background: url("../images/comments.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
.node .submitted-by {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.node .submitted-by .user-picture,
.comment .user-picture {
  float: right;
}
.comment h3 {
  margin-top: 0px;
}
.node .submitted-by .user-picture img,
.comment .user-picture img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #d8d8d8;
}
.node .submitted-by .submitted-by-innerwrap {
  display: inline-block;
  vertical-align: middle;
}
.profile .user-picture {
  margin: 2em 1em 1em 0;
}
.comment .new {
  float: right;
  margin-right: 20px;
}
.comment {
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
}
/**  search form ***/
#search-block-form input.form-text {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
/*** block ***/
#sidebar .block {
  width: 100%;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#sidebar .block {
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}
#sidebar .block h2 {
  margin: 0px 0px 5px 0px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0px 0px 10px 0px;
}
#sidebar_second .block {
  width: 100%;
  float: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#sidebar_second .block {
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}
#sidebar_second .block h2 {
  margin: 0px 0px 5px 0px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0px 0px 10px 0px;
}

.help-wrapper .block {
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.header-region .block {
  padding: 20px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  float: left;
}
/****** message ******/
.message .messages {
  margin-bottom: 20px;
}
div.error {
  background-color: #ffecec;
  border: 1px solid #f5aca6;
  border-radius: 5px;
}
div.status {
  background-color: #e9ffd9;
  border: 1px solid #a6ca8a;
  border-radius: 5px;
}
div.warning {
  border-radius: 5px;
}
/*****  table *****/
table {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
table th {
  cursor: auto;
  background-color: rgba(0,0,0,.06);
  text-align: left;
  color: rgba(0,0,0,.8);
  padding: 1em .7em;
  border: none;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
}
table td {
  padding: .5em .5em;
  vertical-align: middle;
  background: transparent;
}
tr.even,
tr.odd {
  border-bottom: 0px;
}
tbody {
  clear: both;
  outline-width: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: transparent;
  outline-style: solid;
  vertical-align: baseline;
}
table th:first-child {
  border-radius: 5px 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
}
tr.odd {
  background: transparent;
}
/***** li ****/
.item-list ul li,
ul li {
  list-style-type: disc;
}

/*radio*/





